* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: 'Signika', sans-serif;
}

.titulo-principal {
    background-color: rgba(255, 255, 255, .8);
    border-radius: .25em;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    position: relative;
    padding: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

select,button,label{
  font-size:24px
}

.titleBox {
  text-align: center;
  color: #000;
  font-size: 38px;
  padding-bottom: 20px;
}

section {
  padding-bottom: 30px;
}

#canvas,
#canvas2 {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
  border: 1px solid #000;
}
.boxGeneral {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 30px;
  }
  
  .simbolResult {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 90px;
  }

#input-files {
  display: none;
}

#nomeDaLabel, #btnProcessar, #filtro {
    background: rgba(255, 255, 255, .8);
    color: #000;
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    display: block;
    width: 300px;
    box-sizing: border-box;
    text-align: center;
    
    }

    #nomeDaLabel:hover {
    background: #016ABC;
    color: #fff;
    border: 5px solid #eee;
    border-radius: 20px;
    box-shadow: 1px 2px 2px #016ABC;
    text-shadow: none;
    }
    
    #filtro:checked {
        background: #016ABC;
        color: #fff;
        border: 5px solid #eee;
        border-radius: 20px;
        box-shadow: 1px 2px 2px #016ABC;
        text-shadow: none;
        }
    
    #btnProcessar:hover {
        background: #016ABC;
        color: #fff;
        border: 5px solid #eee;
        border-radius: 20px;
        box-shadow: 1px 2px 2px #016ABC;
        text-shadow: none;
        }

    
.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}